$colorPrimary: #2E79EC;
$colorH2: #2e3135;
$colorWhite: #fff;
$colorWhiteOp: rgba(255, 255, 255, 0.8);
$colorSecondary: #52565e;
$colorWhiteOpS: rgba(255, 255, 255, 0.6);
$colorWhiteOpM: rgba(255, 255, 255, 0.7);
$colorHBlack: #000;
$colorQuoteIcon: #ffd565;
$colorMediumGrey: #838893;
$colorStrongGrey: #6c757d;
$colorLightGrey: #888;
$colorGreyTime: rgba(82, 86, 94, 0.8);

$backgroundLowWhite: #f5f6f7;
$backgroundLowBlack: rgba(0, 0, 0, 0.6);
$backgroundPrimary: $colorPrimary;
$backgroundTransparentBlack: rgba(0, 0, 0, 0.2);

$borderColorPrimary: $colorPrimary;
$borderColorYellow: rgba(254, 185, 0, 0.8);